body{
	background-color: #f3f3f3;
}
input{
	outline:none;
}

.echars{
	height: 300px;width: 400px;
}

.main{
	.leftSide{
		font-size: 12px;
		line-height: 40px;
		text-align: center;
<<<<<<< HEAD
		position: fixed;
		z-index: 10;		
		.qs{	
=======
		.qs{
>>>>>>> 1f42b83568c507439a0b3a7dfff30d52cc5c3228
			i{
				margin-right: 5px;
			}
			li{
		    	font-size: 14px;
		    	margin-bottom: 5px;
		    	padding: 0 5px;
			}
			a{
				display: inline-block;
			    height: 30px;
			}
		}

	}
	.rightQuestion{
		.panel{
			background-color: #fff;
			margin-bottom: 5px;
			padding:10px;
    		border: 1px solid #d8d8d8;
    		font-size: 18px;
			.title{
				line-height: 30px;
				height: 30px;
				margin-bottom: 10px;
				color: #2db7f5;
				font-size: 14px;
			}
			.del{
				float: right;
				color: red;
				font-size: 14px;
			}

			&:after{
				content: '';
				display: block;
				clear: both;
			}
		}
		.targetQ{
			margin-top: 10px;
		}
		.list{
			margin-top: 10px;
			margin-bottom:10px;
			input[type=text]{
				text-indent: 15px;
				border:none;
				width: 30%;
				border-bottom:1px solid #d3d3d3;
			}
			li{
				line-height: 30px;
				font-size: 14px;
				i{
					color: red
				}
			}
		}
	}
	.op,.style{
		font-size: 12px;
		line-height: 40px;
	}

}
