body{
	background-color: #f3f3f3;
}
input{
	outline:none;
}
.main{
	.leftSide{
		font-size: 12px;
		float:left;
		.qs{
			width: 100px;
			background-color:#fff;
			text-align: center;
			border-radius:4%;
			i{
				color: #2db7f5;
				margin-right: 5px;
			}
			li{
		    	font-size: 16px;
		    	margin-bottom: 5px;
		    	padding: 0 5px;
			}
			a{
				display: inline-block;
				line-height: 30px;
			    height: 30px;
			}
		}
	}
	.rightQuestion{
		float: left;
		width: 600px;
		margin-left: 10px;
		.panel{
			background-color: #fff;
			margin-bottom: 5px;
			padding:10px;
    		border: 1px solid #d8d8d8;
    		font-size: 18px;
			.title{
				line-height: 30px;
				height: 30px;
				margin-bottom: 10px;
				color: #2db7f5;
			}
			.del{
				float: right;
				color: red;
				font-size: 14px;
			}
			
			&:after{
				content: '';
				display: block;
				clear: both;
			}
		}
		.targetQ{
			margin-top: 10px;
		}
		.list{
			margin-top: 10px;
			margin-bottom:10px;
			input[type=text]{
				text-indent: 15px;
				border:none;
				width: 30%;
				border-bottom:1px solid #d3d3d3;
			}
			li{
				line-height: 30px;
				font-size: 14px;
				i{
					color: red
				}
			}
		}
	}
}